*{
    color: #313131;
}
h1{
    font-size: 8em;
    padding-top: 220px;
}
h2{
    padding-left: 75px;
    font-size: 2.3em;
}
.safeArea{
    margin: 0px 120px;
    height: 100vh;
}
b{
    color: #3BE7B7;
}
.imgDoctor{
    width: 34%;
    position: absolute;
    bottom: 0;
    right: 120px;
    transition: .3s;
}
@media (max-width: 700px){
    .safeArea{
        margin: 0;
    }
    h1{
        font-size: 4em;
        text-align: center
    }
    h2{
        margin: 0;
        padding-left: 0;
        text-align: center;
        width: 80%;
        text-align: center;
    }
    
}
@media (max-width: 1000px) {
    .imgDoctor{
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
    }
}